# Server configuration
PORT=5000

# Database configuration
DATABASE_URL="postgresql://postgres:postgres@localhost:5500/express_api_db"

# Logging configuration
LOG_LEVEL=debug
LOG_DIR=logs
LOG_TO_FILE=true
LOG_COLORS=true

# JWT configuration
ACCESS_TOKEN_EXPIRATION="1h"
REFRESH_TOKEN_EXPIRATION="7d"
JWT_SECRET="replace-with-a-secure-secret"
